<div class='content span-13'>
  <div class='section'>
    <h2>Makers of Traditional Sofas, Chairs and Armchairs</h2>

    <h3>Fastidiously Handmade in England Since 1987</h3>

    <p>We understand furnishing your home is a matter of personal style and preferred taste -
    so whether you are looking for traditional or contemporary we hope you will enjoy our flexible and
    professional approach to making a piece of furniture that is <em>just right for you</em>.</p>

    <p>Attention to the smallest details is one of our hallmarks – quite simply, we to aim create
    perfect pieces of furniture – it’s what we have been doing since 1987.
    We believe attention to detail is why Balmain &amp; Balmain has evolved into one of the UK’s
    leading suppliers of bespoke upholstered furniture. </p>

    <p>We would like to make your next piece of furniture perfect for you and your home. </p>
  </div>

  <div class='section'>
    <h3>Handmade in the Heart of the English Countryside, to the Highest Standards</h3>
    <p>Balmain &amp; Balmain sofas and armchairs:
    <ul>
      <li>Are entirely made in England.</li>
      <li>Exceed all requirements of British Standards for both domestic and contract furniture.</li>
      <li>Have frames constructed from plantation grown beech wood, screwed, glued and dowelled at all joints.</li>
      <li>Have seats made from coil sprung seat units set on steel lathes, all upholstery fillings are natural fibres.</li>
      <li>Come with a 10 Year Guarantee on frames and workmanship.</li>
    </ul>
    </p>
  </div>
</div>

<div class="span-9 last">
  <br/>
  <br/>
  <br/>
  <br/>
  <%= image_tag(image_path("pattern-books.jpg"), :alt=>"Pattern books", :class=>"border", :title=>"Pattern books") %>
</div>
