
<div class='content span-13'>
  <div class='section'>
    <h2>Balmain and Balmain</h2>

    <h3>Traditional handmade furniture</h3>
    <p>Balmain &amp; Balmain was founded over twenty years ago, in rural Dorset, to design, create and sell the finest quality bespoke furniture. Since that time, we have steadily evolved into one of the UK’s leading suppliers of bespoke upholstered furniture. With our flexible approach, we embrace both contemporary and more traditional, classic designs.
    </p>
    <p>
    Furnishing your home is largely a matter of personal style and preferred taste. Which is why at Balmain &amp; Balmain we are delighted to offer such a variety of furniture designs. Attention to the smallest details can be seen throughout our range. From natural fibre fillings to choice of leg designs, we will create the perfect piece of furniture for you and your home. </p>
  </div>
  <div class='section'>
    <h3>Furniture quality and standards</h3>
    <p>Our furniture is entirely made in England to exceed the requirements of British Standards for both domestic and contract use.  Frames are plantation grown beech wood, screwed glued and dowelled at all joints. Seats are made from coil sprung seat units set on steel lathes, all upholstery fillings are natural fibres.  Covering material, contrast piping if desired, fire retardant interliner if required, delivery to within 120 miles of Sherborne and VAT are all included in the quoted price. We give a 10 year Guarantee on all our frames and workmanship.
    </p>
  </div>
</div>

<div class="span-9 last">
  <br/>
  <br/>
  <br/>
  <br/>
  <%= image_tag(image_path("pattern-books.jpg"), :alt=>"Pattern books", :class=>"border", :title=>"Pattern books") %>
</div>
