<h2>About Balmain &amp; Balmain Furniture Makers</h2>
<p>Sarah and Andrew Balmain established Balmain &amp; Balmain in 1987. A family-owned company, they design and manufacture classic furniture, combining traditional methods with the most up to date technology to achieve the highest standards.  Balmain &amp; Balmain’s designs can be found in homes as far apart as Co. Cork, Invernesshire, Cumbria and Kent.  Internationally, the furniture has been shipped throughout Europe as well as to Australia, the USA and Venezuela.</p>

<div class="span-11 append-1">
  <p>The Balmains take enormous pleasure in inviting people to their home set in the relaxed atmosphere of their beautiful farm on the Dorset/Somerset borders. It is the ideal setting in which to view their bespoke sofas, chairs and footstools.  Sarah, who trained as a textile designer, is on hand to give expert advice on colour and fabric choice, while Andrew can guide you through the design process to create your perfect piece of furniture.</p>
    
  <p>Their daughter Henrietta worked for a number of years in a design team at Colefax &amp; Fowler and joined the business in 2003.  With over 20 years’ experience in the furniture business, the Balmains continue to make choosing their unique bespoke furniture, a stress-free and enjoyable experience.</p>
</div>

<div class="span-10 last inform">
  <%= image_tag(image_path("balmain-quality.jpg"), :alt=>"Balmain and Balmain Quality Logo", :class=>"border", :title=>"Balmain and Balmain Quality Logo") %>
  <br/>
  Balmain Seal of Quality
</div>

<div class="clear"></div>
<br/>
<br/>
<br/>
<br/>
