
<h2>Handmade sofas, armchairs and other furniture</h2>
<p>Here you will find the Balmain &amp; Balmain range of furniture and the many ways in which the furniture can be tailored to suit you.  This gallery shows some photos which will help you to visualise the different styles of our furniture making.  We can make either traditional or very contemporary versions depending on how you choose to have your bespoke furniture made by Balmain &amp; Balmain.  <br/>
All our traditionally made furniture can be covered in <strong>any fabric on the market.</strong></p>
<h3>A collection of our furniture</h3>
<div id='subcontent'>
  <%= build_items_list(@furnishings, 3) %>
</div><!-- End:subcontent -->

<div class="clear"></div>

